{% extends 'orgs/main.html' %}

{% block content %}
<button type="button" id="back" class="btn btn-outline-secondary btn-sm">&laquo; Back</button>

<script>
    var backButton = $('#back');
    backButton.on('click', function() {
        window.history.back();
      });
</script>

<!-- Edit Report Form -->
<br><br>
<div class="container">
  <h5 class="align-content-center">Edit a Condition Assessment</h5>
</div>
<hr>
<div class="container" id="add-issue-modal" aria-labelledby="add-issue-modal-label" aria-hidden="true">
  <form class="align-content-center" method="POST" autocomplete="off" id="form-id" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group mb-3 col-4">
      <label for="technology">Technology:</label>
      <input class="form-control" id="technology" name="technology" list="technologyList" value="{{report.condition.technology}}" required>
      <datalist id="technologyList">
        {% for tech in technology %}
          <option value="{{ tech.name }}">{{ tech.name }}</option>
        {% endfor %}
      </datalist>
    </div>

    <div class="form-group mb-3 col-4">
      <label for="analysts">Analyst:</label>
      <input class="form-control" id="analysts" name="analysts" list="analystList" value="{{report.condition.analyst}}" required>
      <datalist id="analystList">
        {% for analyst in analysts %}
          <option value="{{ analyst.name }}">{{ analyst.name }}</option>
        {% endfor %}
      </datalist>
    </div>

    <div class="form-group mb-3 col-4">
      <label for="severity">Severity:</label>
      <input class="form-control" id="severity" name="severity" list="severityList" value="{{report.condition.severityLevel}}" required>
      <datalist id="severityList">
        {% for severity in severities %}
          <option value="{{ severity }}">{{ severity }}</option>
        {% endfor %}
      </datalist>
    </div>

    <div class="form-group mb-3 col-4">
      <label for="collectionDate">Data Collection Date:</label>
      <input class="form-control" id="collectionDate" name="collectionDate" type="date" value="{{collection_date}}" required>
    </div>

    <div class="form-group mb-3 col-4">
      <label for="entryDate">Entry Date:</label>
      <input class="form-control" id="entryDate" name="entryDate" type="date" value="{{entry_date}}" required>
    </div>

    <div class="form-group mb-3 col-7">
      <label for="faults">Faults:</label>
      <button class="btn btn-danger" id="listFaults" data-toggle="modal" data-target="#faultModal" type="button"> +</button>
      <table class="table" id="faultTable" name="faultTable">
        <thead>
          <tr>
            <th>Fault</th>
            <th>Fault Group</th>
            <th>-</th>
          </tr>
        </thead>
      </table>
    </div>

    <div class="form-group mb-3 col-7">
      <label for="recommendations">Recommendation(s):</label>
      <textarea class="form-control" id="recommendations" name="recommendations">{{report.recommendation}}</textarea>
    </div>

    <div class="form-group mb-3 col-7">
      <label for="comments">Comments:</label>
      <textarea class="form-control" id="comments" name="comments">{{report.comment}}</textarea>
    </div>

    <div class="form-check">
      {% if report.condition.closed %}
        <input class="form-check-input" type="checkbox" id="closedCheck" checked>
      {% else %}
        <input class="form-check-input" type="checkbox" id="closedCheck">
      {% endif %}
      <!--input class="form-check-input" type="checkbox"  id="closedCheck"-->
      <label class="form-check-label" for="closedCheck">
        Closed?
      </label>
    </div>
    <br>

    <div class="form-group mb-3">
      <label for="attachments" class="form-label">Attachments:</label>
      <button class="btn btn-danger" data-toggle="modal" data-target="#attachmentModal" type="button">+</button>
    </div>

    <div id="image-preview-container"></div>

    <div class="form-group mb-3">
      <label for="messages">Email SMS Details:</label>
    </div>

    <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
  </form>
</div>

<!--Attachment Selection Modal-->
<div class="modal fade" id="attachmentModal" tabindex="-1" role="dialog" aria-labelledby="attachmentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="attachmentModalLabel">Add Attachments</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="imagePaste">Paste Image:</label>
          <input class="form-control" id="imagePaste" name="imagePaste" type="text" placeholder="Paste image URL or data">
        </div>
        <div class="form-group">
          <label for="imageUpload">Upload Image:</label>
          <!--input class="form-control" id="imageUpload" name="imageUpload" type="file" accept="image/*"-->
          <input class="form-control" id="imageUpload" name="imageUpload" type="file" multiple>
        </div>
      </div>
      <div class="modal-footer">
        <button id="closeAttachmentButton" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="addAttachment()" data-dismiss="modal">Add Image(s)</button>
      </div>
    </div>
  </div>
</div>

<!-- Secondary Modal -->
<div class="modal fade" id="faultModal" tabindex="-1" role="dialog" aria-labelledby="secondaryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="secondaryModalLabel">Fault Selection</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- List of existing faults or option to create a new one -->
        <table id="entryTable" class="table table-sm">
          <thead>
            <tr>
              <th>Fault</th>
              <th>Fault Group</th>
              <th>Select</th>
            </tr>
          </thead>
          <tbody>
            {% for faults in faults_list %}
                <tr>
                  <td>{{faults.fault}}</td>
                  <td>{{faults.fault_group}}</td>
                  <td><button data-fault="{{faults.fault}}" data-fault-group="{{faults.fault_group}}" class="select-fault-group-btn btn btn-danger" data-dismiss="modal">+</button>
                </tr>
            {% endfor %}
          </tbody>
        </table>
        <br>
        <p>Create New Fault:</p>
        <div>Fault</div>
        <input class="form-control" id="newFault" placeholder="Enter new fault">
        <div>Fault Group</div>
        <input class="form-control" id="newFaultGroup" placeholder="Enter new fault group"></input>
      </div>
      <div class="modal-footer">
        <button data-fault="" data-fault-group="" class="select-fault-group-btn btn btn-primary" data-dismiss="modal">Create New</button>
      </div>
    </div>
  </div>
</div>

<script>
  // JavaScript to handle the button click event and pass the selected fault_group back to the original page
  var selectFaultGroupButtons = document.querySelectorAll('.select-fault-group-btn');
  selectFaultGroupButtons.forEach(function(button) {
    button.addEventListener('click', function() {
      var fault = button.dataset.fault;
      var faultGroup = button.dataset.faultGroup;
      if(fault == "" && faultGroup == "") {
          fault = document.getElementById('newFault').value;
          faultGroup = document.getElementById('newFaultGroup').value;
      }

      // Pass the selected fault_group back to the original page
      // You can use AJAX or any other method to achieve this
      // Create a new row in the table with the selected fault and fault group
      var table = document.getElementById('faultTable');
      var newRow = table.insertRow();
      var faultCell = newRow.insertCell();
      var faultGroupCell = newRow.insertCell();
      var clear = newRow.insertCell();
      faultCell.innerHTML = fault;
      faultGroupCell.innerHTML = faultGroup;
      clear.innerHTML = "<button type='button' class='btn btn-outline-secondary' onClick='removeRow(this)'>X</button>";
    });
  });
</script>

    <script>
      var selectedImages = [];

      function on_load() {
          var table = document.getElementById('faultTable');
          var pre_faults = {{ pre_faults_list|safe }};
          for(var i = 0; i < pre_faults.length; i++) {
              var newRow = table.insertRow();
              var faultCell = newRow.insertCell();
              var faultGroupCell = newRow.insertCell();
              var clear = newRow.insertCell();
              faultCell.innerHTML = pre_faults[i]['fault'];
              faultGroupCell.innerHTML = pre_faults[i]['fault_group'];
              clear.innerHTML = "<button type='button' class='btn btn-outline-secondary' onClick='removeRow(this)'>X</button>";
          }
          var attachments = JSON.parse('{{ attachments_list|escapejs }}');
          for(var i = 0; i < attachments.length; i++) {
            selectedImages.push(attachments[i].fields.file);
            displayAttachmentOnLoad(selectedImages[i], selectedImages[i])
          }
          // Gets pasted attachments and closes the modal after
          document.getElementById('imagePaste').addEventListener('paste', function(event) {
            var items = event.clipboardData.items;
            var file = event.clipboardData.files[0];

            for (var i = 0; i < items.length; i++) {
              if (items[i].type.indexOf('image') !== -1) {
                var blob = items[i].getAsFile();
                var reader = new FileReader();
                reader.onload = function(event) {
                  var imageData = event.target.result;
                  displayAttachment(imageData, file);
                  selectedImages.push(file);
                };
                reader.readAsDataURL(blob);
              }
            }
            document.getElementById('closeAttachmentButton').click();
            $('#imagePaste').val('');
          });
      }

      function removeRow(row) {
          row.parentNode.parentNode.remove();
      }

      function addAttachment() {
        var imagePaste = $('#imagePaste').val();
        var imageUpload = $('#imageUpload')[0].files;


        for (var i = 0; i < imageUpload.length; i++) {
          var reader = new FileReader();
          reader.onload = (function(file) {
            return function(e) {
              selectedImages.push(file);
              //console.log(selectedImages);
              displayAttachment(e.target.result, file);
            };
          })(imageUpload[i]);
          reader.readAsDataURL(imageUpload[i]);
        }

        //Clear input fields
        $('#imagePaste').val('');
        $('#imageUpload').val('');

      }
      // Function to display the pre-loaded image in the preview container
      function displayAttachmentOnLoad(imageSrc, file) {
        var imagePreviewContainer = $('#image-preview-container');
        var imageElement = $('<div>').addClass('image-preview');
        var img = $('<img>').attr('src', "../" + imageSrc).addClass('preview-image');
        var removeButton = $('<button>').addClass('btn btn-outline-secondary remove-btn').text('X');
        imageElement.append(img, removeButton);
        imagePreviewContainer.append(imageElement);
        // Attach event listener to the remove button
        removeButton.on('click', function() {
          removeAttachment(file, imageElement);
        });
      }

      // Function to display the image in the preview container
      function displayAttachment(imageSrc, file) {
        var imagePreviewContainer = $('#image-preview-container');
        var imageElement = $('<div>').addClass('image-preview');
        var img = $('<img>').attr('src', imageSrc).addClass('preview-image');
        var removeButton = $('<button>').addClass('btn btn-outline-secondary remove-btn').text('X');
        imageElement.append(img, removeButton);
        imagePreviewContainer.append(imageElement);
        // Attach event listener to the remove button
        removeButton.on('click', function() {
          removeAttachment(file, imageElement);
        });
      }

      function removeAttachment(imageSrc, imageElement) {
        // Remove the image from the selected images array
        var index = selectedImages.indexOf(imageSrc);
        if (index > -1) {
          selectedImages.splice(index, 1);
        }
        // Remove the image preview from the DOM
        imageElement.remove();
      }
      on_load();
    </script>

    <script>

      $(document).ready(function() {
        function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          return cookieValue;
        }

        function handleSubmit(event) {
          event.preventDefault();
        
          // Get the values from the input fields
          // Get the values from the input fields
          var unit_id = {{ unit_id }};
          var report_id = {{ report.id }};
          var technology = $('#technology').val();
          var analyst = $('#analysts').val();
          var severity = $('#severity').val();
          var entryDate = $('#entryDate').val();
          var collectionDate = $('#collectionDate').val();
          var closed = $('#closedCheck').is(':checked');

          //var attachments = $('#attachments')[0].files; // *********************
          var attachments = selectedImages;

          var faultsTable = document.getElementById('faultTable');
          var recommendation = $('#recommendations').val();
          var comment = $('#comments').val();
        
          // Create a FormData object to store the form data, including the files
          var formData = new FormData();
          formData.append('technology', technology);
          formData.append('analysts', analyst);
          formData.append('severity', severity);
          formData.append('entryDate', entryDate);
          formData.append('collectionDate', collectionDate);
          formData.append('closed', closed);
          
          /*selectedImages.forEach(function(imageSrc) {
            var blob = dataURLtoBlob(imageSrc);
            formData.append('attachments', imageSrc);
          });*/

          for (var i = 0; i < attachments.length; i++) {
            formData.append('attachments', attachments[i]);
          }
          
          formData.append('recommendation', recommendation);
          formData.append('comment', comment);
        
          var rowLength = faultsTable.rows.length;
          let faults = [];
        
          for (i = 1; i < rowLength; i++) {
            var oCells = faultsTable.rows.item(i).cells;
            var f = oCells.item(0).innerHTML;
            var fg = oCells.item(1).innerHTML;
            faults.push({
              fault: f,
              faultGroup: fg
            });
          }
        
          // Add the faults array to the FormData object as a JSON string
          formData.append('faults', JSON.stringify(faults));
          
            // Send the Ajax POST request
            $.ajax({
              url: '/edit-entry/' + report_id + '/',
              type: 'POST',
              data: formData,
              dataType: 'json',
              processData: false, // Prevent jQuery from processing the data
              contentType: false, // Let the browser set the content type automatically
              //contentType: 'application/json',
              beforeSend: function(xhr, settings) {
                // Retrieve the CSRF token from the cookie
                var csrfToken = getCookie('csrftoken');
                // Set the CSRF token in the request header
                xhr.setRequestHeader('X-CSRFToken', csrfToken);
              },
              success: function(response) {
                // Handle the response from the server
                //console.log("In ajax, success");
                window.location = '/unit/' + unit_id;
                window.history.pushState("", "", "/unit/" + unit_id);
                //alert("Entry has been updated!");
              },
              error: function(response) {
                  alert("Error in updating entry!")
                  console.log("error in edit entry");
              }
            });
          }
        
        var form = document.getElementById("form-id");
        form.addEventListener("submit", handleSubmit);
      });        
  </script>

    <script>
      $(document).ready(function() {
        $('#entryTable').DataTable({
          //Pagination
          "pagingType": "full_numbers",

          //initial ordering
          order: [[0, 'desc']],

          //Search
          "searching": true,
          "searchDelay": 500,
          "search": {
            "regex": true,
            "smart": true
          }
        });
      });
    </script>

    

{% endblock content %}